# =====================================================
# Server Configuration
# =====================================================

NODE_ENV=development
PORT=5000

# =====================================================
# Database Configuration
# =====================================================

# Local Database

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=iem_lms

# Production Database
# DATABASE_URL=postgresql://username:password@host:5432/database

# =====================================================
# JWT Configuration
# =====================================================

JWT_SECRET=your_super_secret_access_key
JWT_EXPIRES_IN=1d

JWT_REFRESH_SECRET=your_super_secret_refresh_key
JWT_REFRESH_EXPIRES_IN=7d

# =====================================================
# Client
# =====================================================

CLIENT_URL=http://localhost:5173